.welcome-area {
    /* background: rgba(0, 0, 0, 0) url("https://images.pexels.com/photos/2471234/pexels-photo-2471234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat scroll center center / cover; */
    background: none;
}
.bg-overlay::after {
    /* background: linear-gradient(-47deg, #00000000 0%, #000000 100%); */
    background: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-brand-regular{
    height: 40px;
}

.page-subtitle {
    font-weight: lighter;
    font-size: 28px;
    line-height: 40px;
}

.btn-blits {
    background: #32CCDD;
}

.btn-blits-black {
    background: black;
}

.btn-blits-white {
    background: white !important;
    color: black;
}

.image-box {
    background: white;
}

.feature-text {
    font-size: 18px;
}

footer {
    background:black !important;
}

.footer-link {
    color: white;
}

.social-icons > a.blits {
    background-color: black !important;
}

.download-area {
    background: rgba(0, 0, 0, 0) url("https://images.pexels.com/photos/2471234/pexels-photo-2471234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed center center / cover;
}

.overylay-blits::after {
    background-color: rgb(16 16 45 / 54%) !important;
}

.dark-link {
    color: #32ccdd;
}

.dark-link:hover {
    color: white;
}

.icon-btn {
	width: 20px;
    padding: 0px 20px !important;
    background: none;
    border: none;
}

.icon-btn:focus {
    border: none;
}

.modal-title {
    font-size: 28px;    
    text-align: center;
    color: white;
}

.modal-image {
    height: 100px;
}

.app-section {
    margin-top: 16rem;
   
}

@media only screen and (max-width: 480px) {
    .app-section {
        margin-top: 6rem;
    }
    .app-card {
        padding: 60px 30px !important;
    }
}

.app-option-btn {
    padding: 60px;
    color: white;
    border-radius: 10px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    /* max-width: 400px;
    margin-left: auto;
    margin-right: auto; */
}

.app-card {
    padding: 60px;
    color: white;
    border-radius: 10px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.main-color-bg {
    background-color: #32CCDD;
}

.secondary-color-bg {
    background-color: black;
}

.option-title {
    font-weight: bold;
    font-size: 36px;
}

.option-desc {
    font-size: 18px;
}

.text-black {
    color: black !important;
}

.app-page-subtitle {
    font-size: 22px;
}

.label-title {
    color: black;
}

.label-value {
    font-weight: 600;
    font-size: 24px;
}

.app-form-label {
    font-weight: 600;
    font-size:18px;
}
.rc-slider-track {
    height: 14px;
    background-color: transparent !important;
}

.rc-slider-rail {
    height: 14px;
    background: linear-gradient(to right, #d60199 0%, #0790cc 100%) !important;
}

.rc-slider-handle {
    width: 28px;
    height: 28px;
    margin-top: -8px;
    background-color: black !important;
    border-color: white !important;
}

.rc-slider-handle:hover {
    border-color: white !important;
}