/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
	font-family: Signika;
	src: url(fonts/Signika-Regular.otf);
}

@font-face {
	font-family: Avenir;
	src: url(fonts/avenirltstd-light.otf);
}

@font-face {
	font-family: BwModelica;
	src: url(fonts/BwModelica-RegularCondensed.ttf);
}

body {
	padding: 0px;
	overflow-x: hidden;
}

.container-fluid {
	padding: 0px !important;
	margin: 0px !important;
}

.bg-dark, footer {
	background-color: #2D2D2F !important;
}

@media only screen and (max-width: 960px) {
	/* .row {
		margin-left: 0px;
		margin-right: 0px;
	} */
}

.page-title {
	font-family: Signika;
	font-size: 36px;
	font-weight: bold;
	color: #404144;
}

.page-description {
	font-family: Avenir;
	font-size: 18px;
	text-align: justify;
}

.breadcrumb-title {
	font-family: Tahoma;
	font-size: 18px;
}

h4 {
	font-family: Tahoma;
}

#header-wrap {
	background-color: #2D2D2F !important;
}

.slogan {
	font-family: BwModelica;
	text-align: right;
	color: #B8BBC1;
	font-weight: 300;
}

.form-title {
	font-family: Signika;
	font-weight: bold;
	font-size: 22px;
}

.form-label {
	font-family: Avenir;
	color: #919191;
}

.form-title-separator {
	margin-top: 5px;
	border-top: 2px solid #dc3545;
}

.btn {
	font-family: Raleway;
	font-weight: bold;
	padding: 10px 40px;
}

.btn-primary {
	background-color: #E97117;
	border-color: #E97117;
}

.btn-primary:hover {
	background-color: #d26818;
	border-color: #d26818;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #d26818;
	border-color: #d26818;
}

.btn-primary:focus {
	background-color: #d26818;
	border-color: #d26818;
}

.btn-secondary {
	background-color: white;
	border-color: white;
	color: #E97117;
}

.btn-secondary:hover {
	background-color: #c6c6c6;
	border-color: #c6c6c6;
}

.btn-light {
	background-color: #D1D1D1;
	border-color: #D1D1D1;
}

.btn-select {
	padding: 15px;
	width: 500px;
	/* -webkit-box-shadow: 3px 3px #ccc;	
	-moz-box-shadow: 3px 3px #ccc;	
	box-shadow: 3px 3px #ccc; */
}

.btn-select:hover {
	background-color: #328000;
	border-color: #328000;
	color: white;
}

.btn-selected {
	padding: 15px;
	width: 500px;
	background-color: #328000;
	border-color: #328000;
	color: white;
}

.btn-selected:focus {
	background-color: #328000;
	border-color: #328000;
	color: white;
}

.input-underline {
	height: 55px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #F5F5F5;
	border-bottom: 2px solid #707070;
	font-size: 1.1rem;
	padding-top: 15px;
	font-family: Avenir;
}

.input-underline:focus {
	background-color: #F5F5F5;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #007888;
	box-shadow: none;
}

.input-prefix {
	position: relative;
	top: 20px;
	left: 10px;
	text-align: left;
	font-size: 12px;
	color: #007888;
}

.form-input-desc {
	text-align: justify;
	font-family: Avenir;
}

.download-label {
	font-size: 28px;
	font-family: Avenir;
	text-decoration: underline;
}

.btn-green {
	background-color: #35691E;
	border-color: #35691E;
	color: white;
	border-radius: 26px;
}

.btn-green:hover {
	background-color: black;
	border-color: black;
	color: white;
}

.btn-blue {
	background-color: #0B689A;
	border-color: #0B689A;
	color: white;
	border-radius: 26px;
}

.btn-blue:hover {
	background-color: black;
	border-color: black;
	color: white;
}

.datepicker {
	width: 100%;
	height: 40px;
	font-size: 16px;
	background-color: #fff;
}

.react-date-picker__wrapper {
	border: 1px solid #ced4da !important;
	border-radius: .25rem;
}

.icon-btn {
	width: 20px;
	padding: 0px 20px !important;
}

.btn-red {
	background-color: #DC3545;
	border-color: #DC3545;
	color: white;
	border-radius: 26px;
}

.btn-red:hover {
	background-color: #be323f;
	border-color: #be323f;
	color: white;
}

.btn-red-outline {
	background-color: white;
	border-color: #DC3545;
	color: #DC3545;
	border-radius: 26px;
}

.btn-red-outline:hover {
	background-color: #DC3545;
	border-color: #DC3545;
	color: white;
}

.btn-brown {
	background-color: #B98000;
	border-color: #B98000;
	color: white;
	border-radius: 26px;
}

.btn-brown:hover {
	background-color: #8e6200;
	border-color: #8e6200;
	color: white;
}

.modal-title {
	font-family: Signika;
	font-size: 22px;
	/* font-weight: bold; */
	color: #404144;
}

/* Switch 
 * https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox
 */

.custom-switch.custom-switch-sm .custom-control-label {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.custom-switch.custom-switch-sm .custom-control-label::before {
	height: 1rem;
	width: calc(1rem + 0.75rem);
	border-radius: 2rem;
}

.custom-switch.custom-switch-sm .custom-control-label::after {
	width: calc(1rem - 4px);
	height: calc(1rem - 4px);
	border-radius: calc(1rem - (1rem / 2));
}

.custom-switch.custom-switch-sm .custom-control-input:checked~.custom-control-label::after {
	transform: translateX(calc(1rem - 0.25rem));
}

/* for md */

.custom-switch.custom-switch-md .custom-control-label {
	padding-left: 2rem;
	padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
	height: 1.5rem;
	width: calc(2rem + 0.75rem);
	border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
	width: calc(1.5rem - 4px);
	height: calc(1.5rem - 4px);
	border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked~.custom-control-label::after {
	transform: translateX(calc(1.5rem - 0.25rem));
}

/* for lg */

.custom-switch.custom-switch-lg .custom-control-label {
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
	height: 2rem;
	width: calc(3rem + 0.75rem);
	border-radius: 4rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
	width: calc(2rem - 4px);
	height: calc(2rem - 4px);
	border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked~.custom-control-label::after {
	transform: translateX(calc(2rem - 0.25rem));
}

/* for xl */

.custom-switch.custom-switch-xl .custom-control-label {
	padding-left: 4rem;
	padding-bottom: 2.5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
	height: 2.5rem;
	width: calc(4rem + 0.75rem);
	border-radius: 5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
	width: calc(2.5rem - 4px);
	height: calc(2.5rem - 4px);
	border-radius: calc(4rem - (2.5rem / 2));
}

.custom-switch.custom-switch-xl .custom-control-input:checked~.custom-control-label::after {
	transform: translateX(calc(2.5rem - 0.25rem));
}

.approved-label {
	background-color: #35691E;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
}